<mat-sidenav-container class="app-shell">
  <mat-sidenav
    class="app-sidenav"
    [mode]="sidenavMode"
    [opened]="isNavOpen"
    (openedChange)="isNavOpen = $event"
  >
    <app-navbar
      (fileSelected)="onFileSelected($event)"
      [showSave]="showSave"
      (save)="onSaveForms()"
      (closeNav)="closeNav()"
    ></app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <app-topbar
        [showSave]="showSave"
        [navOpen]="isNavOpen"
        [title]="documentTitle"
        [zoom]="zoom"
        [hasDocument]="!!htmlContent"
        [attachments]="attachments"
        [formAnswers]="formAnswers"
        (toggleNav)="toggleNav()"
        (save)="onSaveForms()"
        (zoomChange)="onZoomChange($event)"
      ></app-topbar>
      <app-viewer
        [htmlContent]="htmlContent"
        [zoom]="zoom"
        (formInteraction)="onFormInteraction()"
      ></app-viewer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

@if (showDropOverlay) {
  <div class="drop-overlay" aria-live="assertive">
    <div class="drop-message">drop your wdoc or zip file here</div>
  </div>
}
