<mat-sidenav-container class="app-shell">
  <mat-sidenav
    class="app-sidenav"
    [mode]="sidenavMode"
    [opened]="isNavOpen"
    (openedChange)="isNavOpen = $event"
  >
    <app-navbar
      (fileSelected)="onFileSelected($event)"
      [showSave]="showSave"
      (save)="onSaveForms()"
      (closeNav)="closeNav()"
    ></app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <app-topbar
        [showSave]="showSave"
        [navOpen]="isNavOpen"
        [title]="documentTitle"
        (toggleNav)="toggleNav()"
        (save)="onSaveForms()"
      ></app-topbar>
      <app-viewer [htmlContent]="htmlContent"></app-viewer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

@if (showDropOverlay) {
  <div class="drop-overlay" aria-live="assertive">
    <div class="drop-message">drop your wdoc file here</div>
  </div>
}
